*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);    
}



.colorline{
    height: 6px;
    width: 100%;
    background :linear-gradient(45deg, red,yellow,rgb(179, 16, 234),blue);
}

.form{
    width: fit-content;
    margin: 2rem auto;
    
    font-family: 'Poppins', sans-serif;
}

.form h1{
    font-weight: 600;
}

input,textarea,button{
    display: block;
    font-family: 'Poppins', sans-serif;
    
}

input{
    width: 35rem;
    height: 3rem;
    padding: 0.5rem;
    margin-bottom: 1.1rem;
    border: 2px solid black;
}
textarea{
    width: 35rem;
    padding: 0.5rem;
    border: 2px solid black;
    margin-bottom: 0.9rem;
    resize: vertical;

}

button{
    padding: 0.3rem 1.4rem;
    background-color: black;
    color: aliceblue;
    transition: transform 0.3s ease;
}

button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

button:active{

    transform: scale(0.9);
}

#ulList{
    list-style: none;
   
    display: block;
    
}

.comments{
    width: 75rem;
}

.comments h4{
    margin-top: 1.2rem;
}
.comments h4,h2{

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: aliceblue;
}

.line{
   
    width:100px;
    height: 1px;
    width: 50.2rem;
    background-color: rgb(255, 255, 255);
}

.commentSection {


    background-color: rgb(13,14,17);;
    font-family: 'Poppins', sans-serif;
    width: fit-content;
    padding:1rem  0 1rem 15rem;
    width: 96rem;
   
}

.commentSection h1{
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    width: fit-content;
    font-weight: 600;
   
}

[v-cloak]{

    display: none;
}

