.mainpage{
    background-image: url('https://github.com/ChamodS-1/Campz-Web-project/blob/main/images/test3.png');
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 1;
    width: 96rem;
    height: 57rem; 
      
}
