.mainpage{
    background-image: url('https://raw.githubusercontent.com/ChamodS-1/Campz-Web-project/main/images/mainpic7.png');
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 1;
    width: 97rem;
    height: 57rem; 
      
}
