.mainpage{
    background-image: url('/images/mainpic7.png');
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 1;
    width: 97rem;
    height: 57rem; 
      
}